table, td, th, table input {
	text-align: center;
	border: 1px solid black;
}

td {
	width: 100px;
	text-align: center;
}

button {
	margin: 8px;
}

table input {
	height: 20px;
	margin: 10px;
}